<% layout("/layouts/boilerplate")  %>
<body>
                     
     <form method="post" action="/listings/<%=find._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
         <div class="col-8 offset-2">
           <h3>Edit this Listing</h3>
          <div class="mb-3">
          <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" value="<%=find.title%>" class="form-control" required>

          </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="listing[description]" class="form-control" required> <%= find.description %></textarea>
          <div class="invalid-feedback">Description should be valid</div>
        </div>
        
        <div class="mb-3">
              Original Image <br>
              <img src="<%= originalImageUrl %>" alt="listing_img">
        </div>

        <div class="mb-3">
          <label for="img" class="form-label">Upload New Image</label>
          <input type="file" name="img" class="form-control" placeholder="img.jpeg" >
        </div>

        <div class="row">

        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
         <input type="number" name="listing[price]" value="<%=find.price%>" class="form-control" required>
         <div class="invalid-feedback">Price should be valid</div>
         </div>

         <div class="mb-3 col-md-4">
          <label for="location" class="form-label">Location</label>
         <input type="text" name="listing[location]" value="<%=find.location%>" class="form-control" required>
         <div class="invalid-feedback">Location should be valid</div>
        </div>

        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
        <input type="text" name="listing[country]" value="<%=find.country%>" class="form-control" required>
        <div class="invalid-feedback">country name should be valid</div>
       </div>

          <button class="btn btn-dark add-btn mt-3"> Edit </button>
          <br><br>

          </form>
        </div>

</body>
