  <% layout("/layouts/boilerplate")  %>
  <%= success %>
  <style>
    .filter{
      margin-top: 1.3rem;
      text-align: center;
      margin-right: 2rem;
      opacity: 0.7;
    }
    .filters{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
     
    }
    .filter p{
      font-size: 0.8rem;
    }
     .filter:hover{
      opacity: 1;
      cursor: pointer;
     }
     .ss{
      margin-left: 5rem;
      margin-right: 5rem;
     }
     .tax-info{
      display: none;
     }
     .tax-toggle{
      border: 1px solid black;
      border-radius: 1rem;
      height: 3rem;
      padding: 1rem;
      padding-top: 0.6rem;
      margin-left: 5rem;
     }
     .filter a{
      color: black;
     }
  </style>

                 <div class="filters">

                   <div class="filter">
                      <div><a href="/listings?category=Trending"><i class="fa-solid fa-fire"></i></a></div>
                      <p>Trending</p>
                   </div>
                   <div class="filter">
                    <div><a href="/listings?category=Beach"> <i class="fa-solid fa-umbrella-beach"></i></a></div>
                    <p>Beachfront</p>
                 </div>
                 <div class="filter">
                  <div><a href = "/listings?category=Rooms"> <i class="fa-solid fa-bed"></i> </a></div>
                  <p>Rooms</p>
               </div>
               <div class="filter">
                <div> <a href = "/listings?category=iconicCities"> <i class="fa-solid fa-mountain-city"></i> </a></div>
                <p>IconicCities</p>
             </div>
             <div class="filter">
              <div>  <a href="/listings?category=Mountain"> <i class="fa-solid fa-mountain-sun"></i> </a></div>
              <p>Mountain</p>
           </div>
           <div class="filter">
            <div> <a href = "/listings?category=Castles"> <i class="fa-brands fa-fort-awesome"></i> </a></div>
            <p>Castles</p>
         </div>
         <div class="filter">
          <div> <a href="/listings?category=Pools"> <i class="fa-solid fa-person-swimming"></i> </a></div>
          <p>Amazing pools</p>
       </div>
       <div class="filter">
        <div> <a href="/listings?category=Camping"> <i class="fa-solid fa-campground"></i> </a></div>
        <p>Camping</p>
     </div>
     <div class="filter">
      <div> <a href="/listings?category=Farms"> <i class="fa-solid fa-cow"></i> </a></div>
      <p>Farms</p>
      </div>
      <div class="filter">
        <div> <a href="/listings?category=Arctic"> <i class="fa-regular fa-snowflake"></i>  </a></div>
        <p>Arctic</p>
        </div>
        <div class="filter">
          <div> <a href="/listings?category=Dome"> <i class="fa-solid fa-igloo"></i>  </a></div>
          <p>Dome</p>
          </div>
          <div class="filter">
            <div> <a href="/listings?category=Boats"> <i class="fa-solid fa-ship"></i> </a></div>
            <p>Boats</p>
            </div>
          <div class="tax-toggle" for="flexSwitchCheckReverse">
        <div class="form-check form-switch form-check-reverse">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckReverse">
          <label class="form-check-label" for="flexSwitchCheckReverse">Display total after Taxes</label>
        </div>
   </div>
  </div>
                 </div>
                 
            

                     <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 ss">
                      <% for(let listings of allListing){ %>     
                  
                        <a href="listings/<%=listings._id %>" class="listings-link">
                      <div class="card" >
                        <img src="<%= listings.img.url  %>" class="card-img-top" alt="..." style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                          <p class="card-text">
                          <b>   <%= listings.title %> </b>     <br> 
                             &#8377; <% if(typeof listings.price === 'number'){  %>
                                <i class="taxx"> <%= listings.price.toLocaleString("en-IN") %> / night </i>
                                <i class="tax-info"> <%= ((listings.price * 18 / 100)  + listings.price).toLocaleString("en-IN")  %> / after Tax</i> 
                              <%   } %>
                          </p>
                        </div>
                      </div>
                      </a>
                      <% } %>
                     </div> 
        
<script>
         let switchTaxe = document.getElementById('flexSwitchCheckReverse');
          switchTaxe.addEventListener("click",() => {
            let taxInfo = document.querySelectorAll(".tax-info");
            let nonTax = document.querySelectorAll(".taxx");
            
            taxInfo.forEach((tax, index) => {
            if (tax.style.display === "none" || tax.style.display === "") {
            tax.style.display = "inline";
           nonTax[index].style.display = "none";
          } else {
           tax.style.display = "none";
           nonTax[index].style.display = "inline";
           }
    });
          });
</script>